{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recetum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recetum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ recetum.nombre }}</td>
            </tr>
            <tr>
                <th>Dificultad</th>
                <td>{{ recetum.dificultad }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ recetum.descripcion }}</td>
            </tr>
            <tr>
                <th>Visto</th>
                <td>{{ recetum.visto }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset('uploads/' ~ recetum.brochure) }}" alt=""></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('receta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('receta_edit', { 'id': recetum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
